@charset "utf-8";

/* --------------------------------------------------

m_menu head_cate_nav Setting

-------------------------------------------------- */
#head_cate_nav{
  position: relative;
  background-color: #fff;
  border-top: 2px solid #551900;
  border-bottom: 2px solid #551900;
}
#head_cate_nav .nav_block{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#head_cate_nav .nav_list{
  margin-left: auto;
  margin-right: auto;
}
#head_cate_nav .nav_list > ul a{
  position: relative;
  font-weight: bold;
}
#head_cate_nav .nav_list > ul li.is-current a{
  color: #E7372F;
}
#head_cate_nav .nav_list > ul li.is-current a::after{
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #E7372F;
}

@media print, screen and (min-width:768px){
  #head_cate_nav{
    margin-top: 10px;
    padding: 0 25px;
    z-index: 30;
  }
  #head_cate_nav::before {
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-bottom: 15px solid #551900;
    bottom: 100%;
    left: 208px;
    z-index: 30;
  }
  #head_cate_nav::after {
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-bottom: 15px solid #fff;
    margin-bottom: -3px;
    bottom: 100%;
    left: 208px;
    z-index: 30;
  }
  #head_cate_nav .nav_control{
    display: none;
  }
  #head_cate_nav .nav_block{
    width: auto !important;
  }
  #head_cate_nav .nav_list{
    width: 100% !important;
  }
  #head_cate_nav .nav_list > ul{
    display: flex;
    justify-content: space-between;
  }
  #head_cate_nav .nav_list > ul li{
    display: flex;
    /* margin: 0 2.5%; */
  }
  #head_cate_nav .nav_list > ul a{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0.85em 0.3em;
    font-weight: bold;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1400px) {
  #head_cate_nav::before {
    left: 13.855vw;
  }
  #head_cate_nav::after {
    left: 13.855vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  #head_cate_nav::before {
    left: 152px;
  }
  #head_cate_nav::after {
    left: 152px;
  }
}

@media screen and (max-width:767px) {
  #head_cate_nav{
    position: relative;
    margin-top: 5px;
    border-width: 1px;
    z-index: 30;
  }
  #head_cate_nav .nav_control .control_bnt_left,
  #head_cate_nav .nav_control .control_bnt_right{
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    background: url(../images/arw_brown_l.png) no-repeat center #fff;
    background-size: 8px auto;
    border-right: 1px solid #551900;
    cursor: pointer;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
  }
  #head_cate_nav .nav_control .control_bnt_left{
    left: 0;
  }
  #head_cate_nav .nav_control .control_bnt_right{
    right: 0;
    transform: rotate(180deg);
  }
  #head_cate_nav .nav_block{
    padding-left: 25px;
    padding-right: 25px;
    overflow-x: auto;
  }
  #head_cate_nav .nav_list > ul{
    display: table;
  }
  #head_cate_nav .nav_list > ul li{
    display: table-cell;
    margin-right: 10px;
  }
  #head_cate_nav .nav_list > ul li:last-child{
    margin-right: 0;
  }
  #head_cate_nav .nav_list > ul a{
    display: block;
    font-size: 10px;
    padding: 1.1em 0.5em;
    white-space: nowrap;
  }
  #head_cate_nav .nav_list > ul li.is-current a::after{
    height: 4px;
  }
}

/* --------------------------------------------------

m_menu common Setting

-------------------------------------------------- */
/* page_btm_area
-------------------------------------------------- */
@media print, screen and (min-width:768px){
  .page_btm_area .page_btm_content{
    padding-top: 30px;
  }
}
@media screen and (max-width:767px) {
  .page_btm_area .page_btm_content{
    padding-top: 17px;
  }
}

/* mod_bnr_area
-------------------------------------------------- */
.mod_bnr_area .mod_bnr > a{
  display: block;
  filter: drop-shadow(0 5px 7px rgba(0, 0, 0, 0.1));
}
.mod_bnr_area .mod_bnr > a img{
  width: 100%;
}
@media print, screen and (min-width:768px){
  .mod_bnr_area{
    margin-top: 60px;
  }
  .mod_bnr_area .mod_bnr{
    margin-top: 40px;
  }
}
@media screen and (max-width:767px) {
  .mod_bnr_area .mod_bnr{
    margin-top: 30px;
  }
}

/* フリーエリア
-------------------------------------------------- */
@media print, screen and (min-width:768px){
  .sec_detail_wrap{
    margin-top: 40px;
  }
}
@media screen and (max-width:767px) {
  .sec_detail_wrap{
    margin-top: 30px;
  }
}

.catch{
  font-weight: bold;
  line-height: 1.45;
}
.catch span{
  display: inline-block;
  position: relative;
  padding: 0 2em;
}
.catch span::before{
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 17px;
  height: 27px;
  margin-bottom: -1em;
  background: url(../images/icon_catch.png) no-repeat left center;
  background-size: 100% auto;
}
.catch span::after{
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 50%;
  right: 0;
  width: 17px;
  height: 27px;
  margin-bottom: -1em;
  background: url(../images/icon_catch.png) no-repeat left center;
  background-size: 100% auto;
  transform: rotateZ(75deg);
}
@media screen and (max-width:767px) {
  .catch span::before,
  .catch span::after{
    width: 14px;
    height: 21px;
  }
}

.btn_icon_shop,
.btn_icon_delivery{
  display: flex;
}
.btn_icon_shop a,
.btn_icon_delivery a{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  background-color: #E7372F;
  border-radius: 50px;
  border: none;
  padding: 10px 45px 10px 68px;
  color: #fff;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.btn_icon_shop a::before,
.btn_icon_delivery a::before{
  content: '';
  display: block;
  width: 50px;
	height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  margin: auto;
}
.btn_icon_shop a::before{
	background: url(../images/icon_shop.png) no-repeat center;
  background-size: 100%;
}
.btn_icon_delivery a::before{
	background: url(../images/icon_delivery.png) no-repeat center;
  background-size: 100%;
}
.btn_icon_shop a::after,
.btn_icon_delivery a::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8px;
	height: 100%;
  right: 30px;
  margin: auto;
	background: url(../images/arw_white_r.png) no-repeat center;
  background-size: 100%;
}
@media screen and (max-width:767px) {
  .btn_icon_shop a,
  .btn_icon_delivery a{
    width: 89%;
    min-height: 50px;
    padding: 10px 2.8em;
    line-height: 1.33;
  }
  .btn_icon_shop a::before,
  .btn_icon_delivery a::before{
    width: 25px;
    left: 8px;
  }
  .btn_icon_shop a::after,
  .btn_icon_delivery a::after{
    width: 7px;
    right: 20px;
  }
}

/* mod_balloon_block */
.mod_balloon_block .flex{
  display: flex;
  justify-content: space-between;
}
.mod_balloon_block .figure .box_radius{
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (max-width:767px) {
  .mod_balloon_block .clm2_2 .clm .figure{
    margin: 10px 0;
  }
  .mod_balloon_block .figure .box_radius{
    border-radius: 5px;
  }
}

/* mod_custom_box */
.mod_custom_box{
  background: url(../images/bg_custombox.jpg) repeat left top;
  overflow: hidden;
}
.mod_custom_box .hd{
  background-color: #F5DFB8;
  font-weight: bold;
  text-align: center;
}
@media print, screen and (min-width:768px){
  .mod_custom_box{
    border-radius: 10px;
  }
  .mod_custom_box .hd{
    padding: 10px 30px;
  }
  .mod_custom_box .mod_custom_inner{
    padding: 20px 30px;
  }
}

@media screen and (max-width:767px) {
  .mod_custom_box{
    border-radius: 5px;
  }
  .mod_custom_box .hd{
    padding: 10px 15px;
  }
  .mod_custom_box .mod_custom_inner{
    padding: 15px;
  }
}